.git
node_modules
.idea
.vscode
*.md
LICENSE
.husky
.prettierrc
.prettierignore
eslint.config.js
coverage
dump
db.sqlite
db.sqlite-journal
data/pack
data/players
data/sessions
data/symbols
.env
Thumbs.db
Desktop.ini
.DS_Store
